<!-- maze.launch: launch stage with a maze_solver node -->

<launch>
	<!-- Run stage, gmapping and Rviz -->

    <!-- Include the other 4 launch files -->
    <include file="$(find robotcraft_maze_pro_real)/launch/gmapping.launch"/>
    <include file="$(find robotcraft_maze_pro_real)/launch/robot_firmware.launch"/>
    <include file="$(find robotcraft_maze_pro_real)/launch/driver.launch"/>
    <include file="$(find robotcraft_maze_pro_real)/launch/amcl.launch"/>

    <!-- Launch the navigation node -->
    <!-- <node pkg="robotcraft_maze_pro_real" type="robotcraft_maze_pro_real_reactive_nav" name="robotcraft_maze_pro_real_reactive_nav" output="screen"/> -->
    <node pkg="robotcraft_maze_pro_real" type="robotcraft_maze_pro_real_path_following_nav" name="robotcraft_maze_pro_real_path_following_nav" output="screen"/>
    <!--<node pkg="robotcraft_maze_pro_real" type="robotcraft_maze_pro_real_driver" name="robotcraft_maze_pro_real_driver" output="screen"/>-->




    <!-- Set desired wall to choose which side to follow: 1.0 is right wall, 0.0 is left wall -->
    <param name="desired_wall" type="double" value="0.0" />
    <param name="desired_linear_velocity" type="double" value="0.075" />
  	<param name="desired_side_wall_distance" type="double" value="0.41" />
	  <param name="front_obstacle_distance_threshold" type="double" value="0.3" />
	  <param name="k_p" type="double" value="0.5" />
    <param name="k_i" type="double" value="0.1" />

    <param name="startX" type="int" value="1" />
    <param name="startY" type="int" value="1" />
    <param name="startD" type="int" value="0" />
    <param name="endX" type="int" value="12" />
    <param name="endY" type="int" value="3" />

    <param name="K_psi" type="double" value="1.0" />
  	<param name="K_omega" type="double" value="1" />
    <param name="p" type="double" value="1" />
	  <param name="desired_ang_vel" type="double" value="0.1" />
    <param name="correction_factor" type="double" value="0.85" />

    <param name="x_offset" type="double" value="0.2" />
    <param name="y_offset" type="double" value="5.075" />

    <!-- Set initial position of robot in maze -->
    <param name="initial_x" type="double" value="0.25" />
    <param name="initial_y" type="double" value="2.1" />
    <!-- Theta original in pos x direction -->
    <param name="initial_theta" type="double" value="0.0" />


</launch>
